.cart-item {
  display: flex;
}

.cart-button-group {
  display: flex;
  width: 7rem;
  align-items: center;
  background: #efeded;
}

.cart-button-group > div {
  flex-grow: 1;
  text-align: center;
}

.cart-item-container {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
  align-items: center;
  padding-left: 1rem;
  padding-right: 1rem;
}