.col {
    margin-top: 1%;
    margin-bottom: 1%;
    display: flex;
    justify-content: center;
}

.card-body-text {
    flex-grow: 1;
}

.card-body {
    display: flex;
    flex-direction: column;
}

.row {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(20rem, 1fr));
}
