.order-item {
  display: flex;
}

.order-item-container {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
  align-items: center;
  padding-left: 1rem;
  padding-right: 1rem;
}

.order-sum {
  text-align: right;
}

.order-buy {
  width: 100%;
}