@media(max-width: 30rem) {
    #pageheader {
        order: 2;
        width: 100%;
    }

    #header > .navbar {
        flex-wrap: wrap;
    }
}

/* #header > .navbar {
    justify-content: space-between;
    align-items: center;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
} */

html {
    overflow: hidden;
}

#header {
    position: sticky;
    top: 0;
    z-index: 9999;
}

#header .cart-button {
    margin-left: 1rem;
    margin-right: 1rem;
}

#root {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: auto;
}

#pageheader {
    flex-grow: 1;
    display: flex;
    justify-content: center;
}

#body {
    display: flex;
    flex-direction: column;
    min-height: 0;
    flex-grow: 1;
}